RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

<FilesMatch ".(htaccess|htpasswd|ini|cfg|lo|json)$">
	Order Allow,Deny
	Deny from all
	Allow from 127.0.0.1
</FilesMatch>

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
	Header set Cache-Control "max-age=2592000"
</FilesMatch>
 